@charset "UTF-8";

@font-face {
    font-family: 'Título_Principal';
    src: url(fonts/GothamBook.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Fonte-Menu';
    src: url(fonts/tahoma.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'SubTítulo';
    src: url(fonts/GothamBold.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Fonte-Rodapé';
    src: url(fonts/GothamBookItalic.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

:root {
    --TituloPrincipal: 'Título_Principal', sans-serif;
    --FonteMenu: 'Fonte-Menu', sans-serif;
    --SubTítulo: 'SubTítulo', sans-serif;
    --Fonte-Rodapé: 'Fonte-Rodapé', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    text-align: center;
    background: #0066ff url('imagens/graduacao-adm.jpg') center center no-repeat;
    background-size: cover;
    height: 400px;
}

header h1 {
    font: normal 700 2.2em var(--SubTítulo);
    color: #64DFEA;
    padding-top: 120px;
    line-height: 30px;
    text-transform: uppercase;
}

#destaque1 {
    font: normal 900 1.6em var(--SubTítulo);
    color: white;
    text-transform: uppercase;
}

header a {
    display: block;
    background-color: red;
    padding: 10px 30px;
    border-radius: 100px;
    text-decoration: none;
    color: white;
    font: normal 700 1.5em var(--SubTítulo);
    text-transform: uppercase;
    width: 180px;
    margin: auto;
    margin-top: 10px;
}

header a:hover {
    padding: 15px 50px;
    transition-duration: 0.2s;
}

#adm-descricao {
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 40, 90, 0.7), rgba(0, 27, 60, 0.9));
}

body {
    background-color: black;
}

main {
    background-color: black;
    max-width: 1200px;
    min-width: 250px;
    height: 10000px;
    margin: auto;
}

#hosp-propria {
    display: block;
    margin: 50px auto;
}

#sobre-o-curso h1 {
    font: normal 900 2em var(--SubTítulo);
    text-align: center;
    text-transform: uppercase;
    color: #003A80;
    padding: 50px 0px;
}

#sobre-o-curso #descricao {
    font: normal 500 1em var(--TituloPrincipal);
    text-align: justify;
    text-indent: 20px;
    width: 80%;
    margin: auto;
    line-height: 30px;
    color: white;
}

#frase {
    font: normal 700 1em var(--TituloPrincipal);
    text-align: center;
    margin: 20px 0px;
    color: white;
}

hr {
    width: 40%;
    background-color: #003A80;
    border: 2px solid #003A80;
    margin: -35px auto 50px auto;
}

#custo {
    background-color: black;
    height: 400px;
    margin-top: 100px;
}

#custo h1 {
    text-align: center;
    font: normal 500 1.5em var(--TituloPrincipal);
    text-transform: uppercase;
    color: white;
}

table {
    width: 600px;
    border-collapse: collapse;
}

table tr:nth-child(odd) {
    background-color: #012350;
}

table tr:nth-child(even) {
    background-color: #2f4c6c;
}

#custo table {
    margin: auto;
    margin-top: 50px;
}

#custo td {
    color: white;
    padding: 20px 30px;
    font: normal 500 1em var(--TituloPrincipal);
}

#custo th {
    color: white;
    padding: 20px 30px;
    font: normal 900 1em var(--TituloPrincipal);
}

#promocao {
    color: #d9ff00;
    font: normal 500 1.6em var(--SubTítulo);
}

table > tbody > #rodape {
    height: 120px;
}

del {
    font-weight: 100;
}

#link-tabela {
    display: block;
    background-color: red;
    color: white;
    width: 250px;
    margin: auto;
    padding: 10px 0px;
    border-radius: 100px;
    font: normal 900 1.1em var(--TituloPrincipal);
    text-decoration: none;
    text-transform: uppercase;
}

#link-tabela:hover {
    outline: 5px solid red;
    transition-duration: 0.1s;
}

#link-transferencia {
    display: block;
    text-transform: uppercase;
    color: white;
    margin-top: -5px;
}

#matriz-curricular {
    background-color: black;
    height: 700px;
}

#matriz-curricular > table {
    margin: auto;
}

#matriz-curricular > table > caption {
    background-color: #012350;
    color: white;
    font: normal 700 1.1em var(--TituloPrincipal);
    text-transform: uppercase;
    margin-top: 50px;
    height: 60px;
    line-height: 60px;
}

#matriz-curricular > table th {
    height: 50px;
    font: normal 500 1em var(--TituloPrincipal);
    color: white;
    border: 1px solid black;
}

#ano {
    width: 150px;
}

#destaqueano {
    font: normal 700 2em var(--TituloPrincipal);
}

#destaquesemestres {
    font: normal 700 1.3em var(--TituloPrincipal);
}

.semestredest {
    font: normal 700 1.1em var(--TituloPrincipal);
}

.bimestres {
    font: normal 700 .9em var(--TituloPrincipal);
}

#matriz-curricular > table td {
    border: 1px solid black;
    background-color: white;
    width: 100px;
    height: 90px;
}

.anos {
    background-color: white;
}

.anosfonte {
    color: black;
}

#ementa {
    display: block;
    margin: 30px auto;
    width: 250px;
    background-color: #003884;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px 30px;
    font: normal 700 1.1em var(--TituloPrincipal);
    text-transform: uppercase;
    border-radius: 100px;
}

#ementa:hover {
    outline: 7px solid #003884;
    transition-duration: 0.2s;
}

#extensao-internacional {
    background-color: transparent;
    margin-top: 100px;
    height: 1250px;
    padding: 50px 0px;
}

#extensao-internacional > h1 {
    font: normal 900 2.3em var(--TituloPrincipal);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    color: #003884;
}

#extensao-internacional > #imagem {
    position: relative;
    background: #003884 url('imagens/orlando.jpg') center center no-repeat;
    background-size: cover;
    width: 90%;
    height: 500px;
    margin: auto;
}

#extensao-internacional > #imagem h1,p {
    text-align: center;
    color: white;
}

#imagem-descricao {
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0, 55, 132, 0.60), rgba(0, 55, 132, 0.85));
    top: 0;
    left: 0;
    padding: 205px 0px;
    width: 100%;
    font: normal 500 1.3em var(--TituloPrincipal);
    line-height: 45px;
}

#imagem-descricao h1 {
    text-transform: uppercase;
}

#imagem-descricao p {
    font-size: 1.1em;
}

#informacoes {
    position: relative;
    width: 90%;
    height: 620px;
    margin: auto;
    margin-top: 100px;
}

#informacoes > div {
    position: absolute;
    width: 45%;
    height: 100%;
}

#descricao p {
    font: normal 500 .9em var(--FonteMenu);
    color: white;
    width: 80%;
    margin: auto;
    padding-top: 20px;
    text-align: left;
    text-indent: 20px;
    line-height: 30px;
}

#beneficios {
    height: 100px;
    left: 55%;
}

#beneficios > h2 {
    font: normal 700 1.5em var(--TituloPrincipal);
    text-transform: uppercase;
    color: white;
}

#beneficios > ul {
    list-style-position: inside;
    margin-top: 50px;
}

#beneficios > ul > li {
    font: normal 500 1em var(--FonteMenu);
    line-height: 35px;
    color: #003884;
}

.icone {
    color: white;
}

#destaque-internacional {
    color: white;
    font-family: var(--SubTítulo);
    font-size: 1.5em;
}

#beneficios hr {
    position: absolute;
    top: 12%;
}

#video {
    position: relative;
    background-color: #003884;
    width: 90%;
    height: 500px;
    margin: auto;
    margin-top: 50px;
}

#video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 100%;
}

#professores {
    position: relative;
    margin-top: 150px;
    height: 2450px;
}

#professor1 {
    position: relative;
    width: 100%;
}

#professores > #professor1 > div {
    position: absolute;
    height: 400px;
}

#cláudio-informacao {
    width: 50%;
}

#cláudio-imagem {
    left: 50%;
    width: 50%;
}

#cláudio-imagem > img {
    width: 80%;
    height: 100%;
}

#cláudio-informacao > h1 {
    font: normal 500 2.5em var(--SubTítulo);
    text-transform: uppercase;
    margin-top: 30px;
    color: white;
}

#cláudio-informacao > h2 {
    font: normal 500 3em var(--TituloPrincipal);
    text-transform: uppercase;
    margin: 5px 0px;
    color: white;
}

#cláudio-informacao ul {
    list-style-position: inside;
    margin-top: 40px;
}

#cláudio-informacao li {
    font: normal 700 1em var(--TituloPrincipal);
    line-height: 50px;
    color: #003884;
}

.icone {
    color: white;
}

abbr {
    text-decoration: none;
}

#cláudio-informacao hr {
    position: absolute;
    top: 60%;
}

#professor2 {
    position: absolute;
    top: 25%;
    width: 100%;
    height: 485px;
}

#reinaldo-informacao {
    position: absolute;
    width: 50%;
    left: 50%;
    height: 490px;
}

#reinaldo-informacao > h1 {
    font: normal 500 2.5em var(--SubTítulo);
    text-transform: uppercase;
    margin-top: 10px;
    color: white;
}

#reinaldo-informacao h2 {
    font: normal 500 3em var(--TituloPrincipal);
    text-transform: uppercase;
    color: white;
}

#reinaldo-informacao ul {
    list-style-position: inside;
    margin-top: 55px;
}

#reinaldo-informacao li {
    font: normal 700 1em var(--TituloPrincipal);
    line-height: 25px;
    color: #003884;
}

#reinaldo-informacao hr {
    position: absolute;
    top: 160px;
}

#reinaldo-imagem {
    position: absolute;
    width: 50%;
}

.reinaldo-icones {
    color: white;
}

.reinaldo-formacao {
    text-transform: uppercase;
}

#professor3 {
    position: absolute;
    top: 53%;
    width: 100%;
    height: 500px;
}

#john-informacao {
    position: absolute;
    width: 50%;
    height: 100%;
}

#john-imagem {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
}

#john-informacao > h1 {
    font: normal 500 2em var(--SubTítulo);
    text-transform: uppercase;
    margin-top: 40px;
    color: white;
}

#john-informacao > h2 {
    font: normal 500 3em var(--TituloPrincipal);
    text-transform: uppercase;
    color: white;
}

#john-informacao > hr {
    position: absolute;
    top: 35%;
}

#john-informacao > ul {
    list-style-position: inside;
    margin-top: 50px;
}

#john-informacao > ul > li {
    font: normal 700 1em var(--TituloPrincipal);
    line-height: 25px;
    color: #003884;
}

.john-icones {
    color: white;
}

#professor4 {
    position: absolute;
    top: 80%;
    width: 100%;
    height: 500px;
}

#wagner-informacao {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 50%;
}

#wagner-imagem {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0%;
}

#wagner-informacao > h1 {
    font: normal 500 2em var(--SubTítulo);
    text-transform: uppercase;
    margin-top: 40px;
    color: white;
}

#wagner-informacao > h2 {
    font: normal 500 3em var(--TituloPrincipal);
    text-transform: uppercase;
    color: white;
}

#wagner-informacao > hr {
    position: absolute;
    top: 35%;
}

#wagner-informacao > ul {
    list-style-position: inside;
    margin-top: 50px;
}

#wagner-informacao > ul > li {
    font: normal 700 1em var(--TituloPrincipal);
    line-height: 70px;
}

#wagner-informacao > ul > li {
    color: #003884;
}

.wagner-icone {
    color: white;
}

#perguntas-frequentes {
    background-color: white;
    margin-top: 150px;
    padding-bottom: 50px;
}

#perguntas-frequentes > h1 {
    background-color: #003884;
    color: white;
    text-align: center;
    font: normal 500 2em var(--SubTítulo);
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 30px;
}

#perguntas-frequentes > aside > ul {
    list-style-position: inside;
    width: 80%;
    text-align: justify;
    margin: auto;
}

.pergunta {
    font: normal 900 1.2em var(--SubTítulo);
    list-style-type: none;
}

.maiusculo {
    text-transform: uppercase;
}

.resposta {
    margin: 20px 0px 50px 0px;
    font: normal 500 1em var(--TituloPrincipal);
    text-indent: 20px;
}

.icone-azul {
    color: #003884;
}

#resposta-bolsa {
    margin: 20px 0px 50px 0px;
    list-style-type: circle;
}

#resposta-bolsa li {
    font: normal 500 .9em var(--TituloPrincipal);
    margin: 10px;
}

#financiamentos-bolsas {
    text-align: center;
    border: 1px solid white;
    margin-top: 200px;
    height: 450px;
}

#financiamentos-bolsas h1 {
    font: normal 900 3em var(--SubTítulo);
    color: white;
    text-transform: uppercase;
}

#destaquefinancas {
    color: #003884;
}

#limitador {
    position: relative;
    border: 1px solid white;
    height: 300px;
    margin-top: 20px;
}

#financiamentos-bolsas > #limitador > div {
    border: 1px solid white;
    width: 260px;
    height: 260px;
    margin: 15px;
    display: inline-block;
    position: relative;
}

#fiesfundo h1 {
    position: absolute;
    font: normal 500 2em var(--TituloPrincipal);
    background-color: transparent;
    width: 100%;
    padding: 113px 0px;
}

#prounifundo h1 {
    position: absolute;
    font: normal 500 2em var(--TituloPrincipal);
    background-color: red;
    width: 100%;
    padding: 113px 0px;
}

#empresasfundo h1 {
    position: absolute;
    font: normal 500 2em var(--TituloPrincipal);
    background-color: red;
    width: 100%;
    padding: 95.5px 0px;
}

#estudosfundo h1 {
    position: absolute;
    font: normal 500 2em var(--TituloPrincipal);
    background-color: red;
    width: 100%;
    padding: 95.5px 0px;
}

#fiesdescricao {
    position: absolute;
    background-color: transparent;
    color: transparent;
    width: 100%;
    height: 100%;
}

#fiesdescricao p {
    color: transparent;
}

#fiesdescricao a {
    color: transparent;
}

#fiesdescricao h2 {
    font: normal 500 3em var(--TituloPrincipal);
    text-transform: uppercase;
    margin-top: 30px;
}

#fiesdescricao p {
    font: normal 500 1em var(--TituloPrincipal);
    margin: 50px 0px;
}

#fiesdescricao a {
    font: normal 300 1.3em var(--TituloPrincipal);
    text-transform: uppercase;
}

#fiesfundo:hover > #fiesdescricao {
    background-color: #003884;
    color: white;
    transition-duration: 0.2s;
}

#fiesfundo:hover > #fiesdescricao p {
    color: white;
    transition-duration: 0.2s;
}

#fiesfundo:hover > #fiesdescricao a {
    color: white;
    transition-duration: 0.2s;
}