@charset "UTF-8";

@font-face {
    font-family: 'Título_Principal';
    src: url(fonts/GothamBook.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Fonte-Menu';
    src: url(fonts/tahoma.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'SubTítulo';
    src: url(fonts/GothamBold.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Fonte-Rodapé';
    src: url(fonts/GothamBookItalic.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

:root {
    --TituloPrincipal: 'Título_Principal', sans-serif;
    --FonteMenu: 'Fonte-Menu', sans-serif;
    --SubTítulo: 'SubTítulo', sans-serif;
    --Fonte-Rodapé: 'Fonte-Rodapé', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

#menu {
    position: relative;
    background-color: black;
    padding: 15px;
}

#menu > h1 {
    color: white;
    font: normal 700 2em var(--TituloPrincipal);
    padding-top: 15px;
    margin-left: 30px;
}

#menu nav {
    width: 700px;
    margin: auto;
    text-align: center;
    margin-top: -25px;
    margin-bottom: 25px;
}

nav > a {
    padding: 10px 30px;
    margin-left: 30px;
    font: normal 500 1em var(--FonteMenu);
    color: white;
    text-decoration: none;
}

nav > a:hover {
    color: #116FFF;
    transition-duration: 0.5s;
}

#fazerlogin {
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: #116FFF;
    border-radius: 100px;
    text-transform: uppercase;
    font: normal 700 1em var(--TituloPrincipal);
    color: white;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    top: 30%;
    left: 80%;
}

#banner {
    height: 450px;
}

#banner {
    background: black url('imagens/BG-DO-SITE-.png') center center no-repeat fixed;
    background-size: 100%;
}

main {
    text-align: center;
    padding: 70px;
    font: normal 900 1.3em var(--TituloPrincipal);
}

#apoios {
    margin-top: 50px;
}

#apoios > div {
    position: relative;
    display: inline-block;
    height: 300px;
    width: 300px;
    margin: 5px;
    padding: 10px;
}

#vestibularfundo img {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
}

#vestibularfundo h3 {
    position: absolute;
    top: 72%;
    left: 5%;
    font: normal 800 .8em var(--SubTítulo);
}

#vestibularfundo p {
    position: absolute;
    top: 80%;
    font: normal 500 .7em var(--TituloPrincipal);
}

#conteudofundo {
    position: relative;
}

#conteudofundo > img {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
}

#conteudofundo h3, p {
    position: absolute;
}

#conteudofundo h3 {
    top: 72%;
    font: normal 500 .8em var(--SubTítulo);
}

#conteudofundo p {
    top: 85%;
    font: normal 500 .7em var(--TituloPrincipal);
}

#incentivofundo > img {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
}

#incentivofundo h3,p {
    position: absolute;
}

#incentivofundo h3 {
    top: 72%;
    left: 10%;
    font: normal 500 .8em var(--SubTítulo);
}

#incentivofundo p {
    top: 80%;
    font: normal 500 .7em var(--TituloPrincipal);
}

#ilimitadofundo {
    position: relative;
}

#ilimitadofundo > img {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
}

#ilimitadofundo h3,p {
    position: absolute;
}

#ilimitadofundo h3 {
    top: 72%;
    left: 18%;
    font: normal 500 .8em var(--SubTítulo);
}

#ilimitadofundo p {
    top: 80%;
    font: normal 500 .7em var(--TituloPrincipal);
}

#smartclassfundo {
    position: relative;
}

#smartclassfundo > img {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
}

#smartclassfundo h3,p {
    position: absolute;
}

#smartclassfundo h3 {
    top: 72%;
    left: 22%;
    font: normal 500 .8em var(--SubTítulo);
}

#smartclassfundo p {
    top: 80%;
    left: 15%;
    font: normal 500 .7em var(--TituloPrincipal);
}

#feirafundo {
    position: relative;
}

#feirafundo > img {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
}

#feirafundo h3, p {
    position: absolute;
}

#feirafundo h3 {
    top: 72%;
    left: 25%;
    font: normal 500 .8em var(--SubTítulo);
}

#feirafundo p {
    top: 80%;
    font: normal 500 .7em var(--TituloPrincipal);
}

header {
    position: relative;
}

#menu {
    position: sticky;
    top: 0;
}

#graduacoes {
    background-color: rgb(223, 223, 223);
    font: normal 500 1.5em var(--TituloPrincipal);
    text-align: center;
    padding: 50px 20px;
    text-align: center;
}

#botoesgraduacoes {
    width: 1000px;
    margin: auto;
    margin-top: 50px;
    text-align: justify;
}

#botoesgraduacoes > div {
    display: inline-block;
    /*border: 1px solid black;*/
    width: 300px;
    height: 230px;
    margin: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#administracaofundo {
    position: relative;
    background: white url('imagens/administracao.jpg') center center no-repeat;
    background-size: cover;
}

#administracaoinformacao {
    position: absolute;
    background-color: #00c8ffcc;
    top: 61%;
    left: 0;
    width: 100%;
    height: 90px;
}

#administracaoinformacao h4 {
    font: normal 500 .9em var(--SubTítulo);
    text-align: center;
    margin-top: 10px;
}

#administracaoinformacao p {
    position: absolute;
    font: normal 600 .6em var(--FonteMenu);
    padding: 2px;
    width: 98%;
    margin: auto;
    margin-top: 5px;
    text-align: center;
}

#cienciacomputacaofundo {
    position: relative;
    background: black url('imagens/Ciencia-da-Computacao.jpg') center center no-repeat;
    background-size: cover;
}

#cienciacomputacaoinformacao {
    position: absolute;
    background-color: #00c8ffcc;
    top: 61%;
    left: 0;
    width: 100%;
    height: 90px;
}

#cienciacomputacaoinformacao h4 {
    font: normal 500 .8em var(--SubTítulo);
    margin-top: 15px;
    text-align: center;
}

#cienciacomputacaoinformacao p {
    font: normal 700 .6em  var(--FonteMenu);
    padding: 0px 20px;
    margin-top: 5px;
    text-align: center;
}

#engenhariacomputacaofundo {
    position: relative;
    background: black url('imagens/engenharia-da-computacao.jpg') center center no-repeat;
    background-size: cover;
}

#engenhariacomputacaoinformacao {
    position: absolute;
    background-color: #00c8ffcc;
    top: 61%;
    left: 0;
    width: 100%;
    height: 90px;
}

#engenhariacomputacaoinformacao h4 {
    font: normal 700 .8em var(--SubTítulo);
    text-align: center;
    margin-top: 15px;
}

#engenhariacomputacaoinformacao p {
    font: normal 700 .6em var(--FonteMenu);
    padding: 0px 20px;
    margin-top: 5px;
    text-align: center;
}

#engenhariacomputacaoeadfundo {
    position: relative;
    background: black url('imagens/engenharia-da-computacao.jpg') center center no-repeat;
    background-size: cover;
}

#engenhariacomputacaoeadinformacao {
    position: absolute;
    background-color: #00c8ffcc;
    top: 61%;
    left: 0;
    width: 100%;
    height: 90px;
}

#engenhariacomputacaoeadinformacao h4 {
    font: normal 700 .7em var(--SubTítulo);
    text-align: center;
    margin-top: 15px;
}

#engenhariacomputacaoeadinformacao p {
    font: normal 700 .6em var(--FonteMenu);
    margin-top: 5px;
    text-align: center;
    width: 100%;
}

.destaqueead {
    background-color: black;
    color: white;
    padding: 3px 4px;
}

#sistemasinformacaofundo {
    position: relative;
    background: black url('imagens/sistemas-de-informacao.jpg') center center no-repeat;
    background-size: cover;
}

#sistemasinformacaodescricao {
    position: absolute;
    background-color: #00c8ffcc;
    top: 61%;
    left: 0;
    width: 100%;
    height: 90px;
}

#sistemasinformacaodescricao h4 {
    font: normal 700 .8em var(--SubTítulo);
    text-align: center;
    margin-top: 15px;
}

#sistemasinformacaodescricao p {
    font: normal 700 .6em var(--FonteMenu);
    padding: 0px 20px;
    text-align: center;
    margin-top: 5px;
}

#sistemasinformacaoeadfundo {
    position: relative;
    background: black url('imagens/sistemas-de-informacao.jpg') center center no-repeat;
    background-size: cover;
}

#sistemasinformacaoeaddescricao {
    position: absolute;
    background-color: #00c8ffcc;
    top: 61%;
    left: 0;
    width: 100%;
    height: 90px;
}

#sistemasinformacaoeaddescricao h4 {
    font: normal 700 .7em var(--SubTítulo);
    text-align: center;
    margin-top: 15px;
}

#sistemasinformacaoeaddescricao p {
    font: normal 700 .6em var(--FonteMenu);
    text-align: center;
    padding: 0px 20px;
    margin-top: 5px;
}

#adsfundo {
    position: relative;
    background: black url('imagens/ads.jpg') center center no-repeat;
    background-size: cover;
}

#adsinformacao {
    position: absolute;
    background-color: #00c8ffcc;
    top: 61%;
    left: 0;
    width: 100%;
    height: 90px;
}

#adsinformacao h4 {
    font: normal 700 .8em var(--SubTítulo);
    margin-top: 10px;
    text-align: center;
}

#adsinformacao p {
    font: normal 700 .6em var(--FonteMenu);
    text-align: center;
    margin-top: 5px;
    width: 100%;
}

#adseadfundo {
    position: relative;
    background: black url('imagens/ads.jpg') center center no-repeat;
    background-size: cover;
}

#adseadinformacao {
    position: absolute;
    background-color: #00c8ffcc;
    top: 61%;
    left: 0;
    width: 100%;
    height: 90px;
}

#adseadinformacao h4 {
    font: normal 700 .7em var(--SubTítulo);
    text-align: center;
    margin-top: 10px;
    line-height: 20px;
}

#adseadinformacao p {
    font: normal 700 .6em var(--FonteMenu);
    text-align: center;
    width: 100%;
    margin-top: 5px;
}

#bancodadosfundo {
    position: relative;
    background: black url('imagens/banco-de-dados.jpg') center center no-repeat;
    background-size: cover;
}

#bancodadosinformacao {
    position: absolute;
    background-color: #00c8ffcc;
    top: 61%;
    left: 0;
    width: 100%;
    height: 90px;
}

#bancodadosinformacao h4 {
    font: normal 700 .8em var(--SubTítulo);
    text-align: center;
    margin-top: 15px;
}

#bancodadosinformacao p {
    font: normal 700 .6em var(--FonteMenu);
    text-align: center;
    margin-top: 5px;
    width: 100%;
}

#bancodadoseadfundo {
    position: relative;
    background: black url('imagens/banco-de-dados.jpg') center center no-repeat;
    background-size: cover;
}

#bancodadoseadinformacao {
    position: absolute;
    background-color: #00c8ffcc;
    top: 61%;
    left: 0;
    width: 100%;
    height: 90px;
}

#bancodadoseadinformacao h4 {
    font: normal 700 .8em var(--SubTítulo);
    text-align: center;
    margin-top: 15px;
}

#bancodadoseadinformacao p {
    font: normal 700 .6em var(--FonteMenu);
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

#ciberneticafundo {
    position: relative;
    background: black url('imagens/defesa-cibernetica.jpg') center center no-repeat;
    background-size: cover;
}

#ciberneticainformacao {
    position: absolute;
    background-color: #00c8ffcc;
    top: 61%;
    left: 0;
    width: 100%;
    height: 90px;
}

#ciberneticainformacao h4 {
    font: normal 700 .8em var(--SubTítulo);
    text-align: center;
    margin-top: 15px;
}

#ciberneticainformacao p {
    font: normal 700 .6em var(--FonteMenu);
    padding: 0px 20px;
    text-align: center;
    margin-top: 5px;
}

#ciberneticaeadfundo {
    position: relative;
    background: black url('imagens/defesa-cibernetica.jpg') center center no-repeat;
    background-size: cover;
}

#ciberneticaeadinformacao {
    position: absolute;
    background-color: #00c8ffcc;
    top: 61%;
    left: 0;
    width: 100%;
    height: 90px;
}

#ciberneticaeadinformacao h4 {
    font: normal 700 .8em var(--SubTítulo);
    text-align: center;
    margin-top: 15px;
}

#ciberneticaeadinformacao p {
    font: normal 700 .6em var(--FonteMenu);
    padding: 0px 20px;
    text-align: center;
    margin-top: 5px;
}

#gestaotifundo {
    position: relative;
    background: black url('imagens/Gestão-de-TI.jpg') center center no-repeat;
    background-size: cover;
}

#gestaotiinformacao {
    position: absolute;
    background-color: #00c8ffcc;
    top: 61%;
    left: 0;
    width: 100%;
    height: 90px;
}

#gestaotiinformacao h4 {
    font: normal 700 .8em var(--SubTítulo);
    text-align: center;
    margin-top: 15px;
}

#gestaotiinformacao p {
    font: normal 700 .6em var(--FonteMenu);
    text-align: center;
    width: 100%;
    margin-top: 5px;
}

#gestaotieadfundo {
    position: relative;
    background: black url('imagens/Gestão-de-TI.jpg') center center no-repeat;
    background-size: cover;
}

#gestaotieadinformacao {
    position: absolute;
    background-color: #00c8ffcc;
    top: 61%;
    left: 0;
    width: 100%;
    height: 90px;
}

#gestaotieadinformacao h4 {
    font: normal 700 .8em var(--SubTítulo);
    text-align: center;
    margin-top: 10px;
    line-height: 25px;
}

#gestaotieadinformacao p {
    font: normal 700 .6em var(--FonteMenu);
    text-align: center;
    width: 100%;
    margin-top: 5px;
}

#jogosdigitaisfundo {
    position: relative;
    background: black url('imagens/jogos-digitais.jpg') center center no-repeat;
    background-size: cover;
}

#jogosdigitaisinformacao {
    position: absolute;
    background-color: #00c8ffcc;
    top: 61%;
    left: 0;
    width: 100%;
    height: 90px;
}

#jogosdigitaisinformacao h4 {
    font: normal 700 .9em var(--SubTítulo);
    text-align: center;
    margin-top: 15px;
}

#jogosdigitaisinformacao p {
    font: normal 700 .6em var(--FonteMenu);
    text-align: center;
    width: 100%;
    margin-top: 5px;
}

#jogosdigitaiseadfundo {
    position: relative;
    background: black url('imagens/jogos-digitais.jpg') center center no-repeat;
    background-size: cover;
}

#jogosdigitaiseadinformacao {
    position: absolute;
    background-color: #00c8ffcc;
    top: 61%;
    left: 0;
    width: 100%;
    height: 90px;
}

#jogosdigitaiseadinformacao h4 {
    font: normal 700 .9em var(--SubTítulo);
    text-align: center;
    margin-top: 15px;
}

#jogosdigitaiseadinformacao p {
    font: normal 700 .6em var(--FonteMenu);
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

#processosgerenciaisfundo {
    position: relative;
    background: black url('imagens/processos-gerenciais.jpg') center center no-repeat;
    background-size: cover;
}

#processosgerenciaisinformacao {
    position: absolute;
    background-color: #00c8ffcc;
    top: 61%;
    left: 0;
    width: 100%;
    height: 90px;
}

#processosgerenciaisinformacao h4 {
    font: normal 700 .9em var(--SubTítulo);
    text-align: center;
    margin-top: 15px;
}

#processosgerenciaisinformacao p {
    font: normal 700 .6em var(--FonteMenu);
    text-align: center;
    margin-top: 5px;
}

#producaomultimidiafundo {
    position: relative;
    background: black url('imagens/producao-multimidia.jpg') center center no-repeat;
    background-size: cover;
}

#producaomultimidiainformacao {
    position: absolute;
    background-color: #00c8ffcc;
    top: 61%;
    left: 0;
    width: 100%;
    height: 90px;
}

#producaomultimidiainformacao h4 {
    font: normal 700 .8em var(--SubTítulo);
    text-align: center;
    margin-top: 15px;
}

#producaomultimidiainformacao p {
    font: normal 700 .6em var(--FonteMenu);
    text-align: center;
    width: 100%;
    margin-top: 5px;
}

#redesdecomputadoresfundo {
    position: relative;
    background: black url('imagens/redes-de-computadores.jpg') center center no-repeat;
    background-size: cover;
}

#redesdecomputadoresinformacao {
    position: absolute;
    background-color: #00c8ffcc;
    top: 61%;
    left: 0;
    width: 100%;
    height: 90px;
}

#redesdecomputadoresinformacao h4 {
    font: normal 700 .8em var(--SubTítulo);
    text-align: center;
    margin-top: 15px;
}

#redesdecomputadoresinformacao p {
    font: normal 700 .6em var(--FonteMenu);
    text-align: center;
    margin-top: 5px;
}

#redesdecomputadoreseadfundo {
    position: relative;
    background: black url('imagens/redes-de-computadores.jpg') center center no-repeat;
    background-size: cover;
}

#redesdecomputadoreseadinformacao {
    position: absolute;
    background-color: #00c8ffcc;
    top: 61%;
    left: 0;
    width: 100%;
    height: 90px;
}

#redesdecomputadoreseadinformacao h4 {
    font: normal 700 .8em var(--SubTítulo);
    text-align: center;
    margin-top: 15px;
}

#redesdecomputadoreseadinformacao p {
    font: normal 700 .6em var(--FonteMenu);
    text-align: center;
    margin-top: 5px;
}

#depoimentos {
    text-align: center;
    padding: 60px 0px;
}

#depoimentos h3 {
    margin-bottom: 60px;
    font: normal 900 1.7em var(--TituloPrincipal);
}

#alunosplaytecdestaque {
    color: #116FFF;
}

#depoimentos div {
    display: inline-block;
    margin: 20px;
}

#depoimentos iframe {
    border-radius: 10px;
    height: 300px;
    width: 500px;
}

#prerodape {
    background-image: linear-gradient(to right, blue, pink);
    height: 3px;
    border: 0px solid black;
}

footer {
    text-align: center;
    background-color: black;
    height: 700px;
    padding-bottom: 70px;
}

footer > div {
    position: relative;
    display: inline-block;
    height: 650px;
    width: 300px;
    margin: 5px;
    margin-top: 30px;
}

#n1 > img {
    position: absolute;
    top: 0;
    left: 40%;
    width: 50px;
}

#n1 h2 {
    position: absolute;
    color: #116FFF;
    font: normal 700 1.5em var(--TituloPrincipal);
    text-transform: uppercase;
    left: 30%;
    top: 10%;
}

#n1 #e-mec {
    top: 18%;
    left: 18%;
    height: 250px;
    width: 200px;
}

#n1 #siga-nos {
    color: #116FFF;
    font: normal 500 .9em var(--TituloPrincipal);
    text-transform: uppercase;
    left: 36%;
    top: 65%;
}

#n1 ul {
    position: absolute;
    top: 75%;
    left: 5%;
}

#n1 li {
    display: inline-block;
    margin: 0px 18px;
    top: 80%;
}

#n1 > ul > li > img {
    width: 15px;
}

#telefone {
    color: white;
    position: absolute;
    top: 85%;
    left: 30%;
    font: normal 500 1em var(--TituloPrincipal);
    text-transform: uppercase;
    line-height: 30px;
}

#reservados {
    color: white;
    left: 12%;
    top: 95%;
    margin-top: 15px;
    font: normal 500 1em var(--TituloPrincipal);
}

#n2 > h2 {
    position: absolute;
    color: #116FFF;
    font: normal 700 1em var(--TituloPrincipal);
    text-transform: uppercase;
}

#n2 ul {
    position: absolute;
    top: 10%;
    color: white;
    list-style-position: inside;
    list-style-type: none;
    text-align: justify;
}

#n2 li {
    font: normal 500 1em var(--TituloPrincipal);
    line-height: 40px;
}

#n2 a {
    color: white;
    text-decoration: none;
}

#n2 a:hover {
    color: #116FFF;
    transition-duration: 0.3s;
}

#n3 > h2 {
    position: absolute;
    color: #116FFF;
    font: normal 700 1em var(--TituloPrincipal);
    text-transform: uppercase;
}

#n3 ul {
    position: absolute;
    color: white;
    list-style-position: inside;
    list-style-type: none;
    text-align: justify;
    top: 11%;
}

#n3 li {
    font: normal 500 1em var(--TituloPrincipal);
    line-height: 40px;
    margin-bottom: 20px;
}

#prouni {
    text-transform: uppercase;
}

#n3 h3 {
    font: normal 700 1em var(--TituloPrincipal);
}

#n3 a {
    color: white;
    text-decoration: none;
}

#n3 a:hover {
    color: #116FFF;
    transition-duration: 0.3s;
}

#n4 > h2 {
    position: absolute;
    color:#116FFF;
    font: normal 700 1em var(--TituloPrincipal);
    text-transform: uppercase;
}

#n4 ul {
    position: absolute;
    color: white;
    top: 10%;
    list-style-position: inside;
    list-style-type: none;
    text-align: justify;
}

#n4 li {
    font: normal 500 1em var(--TituloPrincipal);
    margin-bottom: 20px;
    line-height: 30px;
}

#n4 h3 {
    font: normal 700 1em var(--TituloPrincipal);
    margin-bottom: 10px;
}

#n4 a {
    color: white;
    text-decoration: none;
}

#n4 a:hover {
    color: #116FFF;
    transition-duration: 0.3s;
}

#graduacoes a {
    color: black;
}

#graduacoes a:hover > div {
    top: 0;
    height: 100%;
    transition-duration: 0.3s;
}

#graduacoes a:hover h4 {
    position: absolute;
    top: 30%;
    width: 100%;
    transition-duration: 0.3s;
}

#administracaoinformacao:hover p {
    top: 45%;
}

#cienciacomputacaoinformacao:hover p {
    top: 50%;
}

#engenhariacomputacaoinformacao:hover p {
    top: 50%;
}

#engenhariacomputacaoeadinformacao:hover p {
    top: 50%;
}

#sistemasinformacaodescricao:hover p {
    top: 50%;
}

#sistemasinformacaoeaddescricao:hover p {
    top: 50%;
}

#adsinformacao:hover p {
    top: 55%;
}

#adseadinformacao:hover p {
    top: 55%;
}

#bancodadosinformacao:hover p {
    top: 50%;
}

#bancodadoseadinformacao:hover p {
    top: 50%;
}

#ciberneticainformacao:hover p {
    top: 50%;
}

#ciberneticaeadinformacao:hover p {
    top: 50%;
}

#gestaotiinformacao:hover p {
    top: 60%;
}

#gestaotieadinformacao:hover p {
    top: 60%;
}

#jogosdigitaisinformacao:hover p {
    top: 50%;
}

#jogosdigitaiseadinformacao:hover p {
    top: 50%;
}

#processosgerenciaisinformacao:hover p {
    top: 50%;
}

#producaomultimidiainformacao:hover p {
    top: 50%;
}

#redesdecomputadoresinformacao:hover p {
    top: 50%;
}

#redesdecomputadoreseadinformacao:hover p {
    top: 50%;
}

header h1 > a {
    text-decoration: none;
    color: white;
}