@charset "UTF-8";

@font-face {
    font-family: 'Título_Principal';
    src: url(fonts/GothamBook.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Fonte-Menu';
    src: url(fonts/tahoma.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'SubTítulo';
    src: url(fonts/GothamBold.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Fonte-Rodapé';
    src: url(fonts/GothamBookItalic.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

:root {
    --TituloPrincipal: 'Título_Principal', sans-serif;
    --FonteMenu: 'Fonte-Menu', sans-serif;
    --SubTítulo: 'SubTítulo', sans-serif;
    --Fonte-Rodapé: 'Fonte-Rodapé', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #00050B;
}

header {
    text-align: center;
    background-image: linear-gradient(to bottom, #0e2d51, black);
    color: white;
    padding: 50px 0px;
}

header > h1 {
    font: normal 400 5em var(--TituloPrincipal);
}

header p {
    font: normal 500 1.2em var(--TituloPrincipal);
    margin-top: 10px;
}

nav {
    background-color: black;
    padding: 15px;
    text-align: center;
}

.menu {
    color: white;
    background-color: black;
    padding: 15px 40px;
    font: normal 500 1em var(--FonteMenu);
    text-decoration: none;
    margin-left: -4px;
}

.menu:hover {
    background-color: #0e2d51;
    transition-duration: 0.5s;
}

.menu:active {
    background-color: #2268b7;
    transition-duration: 0s;
}

main {
    text-align: center;
    background-color: #00050B;
    width: 1000px;
    margin: auto;
    padding: 50px 0px;
}

main > h2 {
    font: normal 700 2em var(--SubTítulo);
    color: #003a80;
    text-transform: uppercase;
    margin-bottom: 20px;
}

main #descricao {
    color: white;
    font: normal 500 1em var(--TituloPrincipal);
    width: 90%;
    margin: auto;
    line-height: 25px;
    text-indent: 20px;
    text-align: justify;
}

#cursos {
    margin-top: 20px;
}

main .bloco {
    position: relative;
    display: inline-block;
    background-color: #004ca8;
    width: 250px;
    height: 300px;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

.informacoes {
    position: absolute;
    left: 0;
    top: 0;
    height: 160px;
    padding: 10px;
    padding-top: 170px;
    border-radius: 10px;
    background-image: linear-gradient(to top, rgba(4, 67, 90, 0.9), rgba(9, 77, 102, 0.4));
}

.informacoes > h3 {
    color: white;
    font: normal 400 2em var(--SubTítulo);
}

.informacoes p {
    color: white;
    font: normal 500 .95em var(--TituloPrincipal);
    margin-top: 5px;
    margin-bottom: 30px;
}

.informacoes a {
    background-color: white;
    padding: 10px 30px;
    border-radius: 100px;
    font: normal 500 1em var(--SubTítulo);
    text-decoration: none;
    color: #004ca8;
}

.informacoes a:hover {
    padding: 10px 50px;
    transition-duration: 0.5s;
}

hr {
    background-color: white;
    width: 30px;
    margin: auto;
    margin-top: -150px;
    margin-bottom: 150px;
    border: 1px solid white;
}

#graduacao {
    background: #004ca8 url('imagens/Graduação.jpg') center center no-repeat;
    background-size: cover;
}

#posMBA {
    background: #004ca8 url('imagens/MBA.png') center center no-repeat;
    background-size: cover;
}

#tecnico {
    background: #004ca8 url('imagens/tecnico.png') center center no-repeat;
    background-size: cover;
}

#link-vestibular {
    height: 100px;
}

#vestibular2023 {
    display: block;
    background-color: #116FFF;
    padding: 10px 30px;
    width: 200px;
    margin: auto;
    margin-top: 30px;
    border-radius: 100px;
    font: normal 500 1.3em var(--SubTítulo);
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.60);
    box-shadow: 1px 2px 5px black;
}

#vestibular2023:hover {
    outline: solid 5px #116FFF;
    width: 215px;
    font-size: 1.4em;
    transition-duration: 0.2s;
}

#video {
    position: relative;
    background-color: transparent;
    width: 700px;
    height: 350px;
    margin: auto;
    margin-top: 20px;
}

#video > iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#MEC {
    height: 500px;
    margin-top: 50px;
}

.bloco1 {
    position: relative;
    display: inline-block;
    background-color: transparent;
    width: 495px;
    height: 500px;
}

#informativo-bloco1 {
    position: absolute;
    top: 5%;
    left: 3%;
    padding: 20px 10px;
}

#informativo-bloco1 h4 {
    font: normal 500 1.6em var(--TituloPrincipal);
    line-height: 30px;
    text-transform: uppercase;
    text-align: justify;
    color: white;
}

#destaque3 {
    font: normal 500 1.2em var(--SubTítulo);
    color: #116FFF;
}

#informativo-bloco1 h5 {
    font: normal 700 1.2em var(--TituloPrincipal);
    margin-top: 60px;
    margin-bottom: 50px;
    text-align: justify;
    text-transform: uppercase;
    color: white;
}

#informativo-bloco1 p {
    font: normal 500 1em var(--TituloPrincipal);
    text-align: justify;
    line-height: 25px;
    text-indent: 20px;
    color: white;
}

#imagem > img {
    position: absolute;
    top: 3%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0px;
}

#destaque4 {
    color: #003a80;
    font-size: 1.5em;
}

#playlabs {
    background-color: transparent;
    margin-top: 50px;
    padding: 20px;
}

#playlabs > h2 {
    margin-bottom: 30px;
    font: normal 700 2.5em var(--TituloPrincipal);
    color: white;
}

#playlabs #informativoplaylabs {
    font: normal 700 1em var(--TituloPrincipal);
    margin-bottom: 50px;
    color: white;
}

#playlabs h2,p {
    text-align: justify;
}

#destaquelabs {
    color: #0839D0;
}

#botaolabs > div {
    display: inline-block;
    /*border: 1px solid black;*/
    width: 305px;
    height: 300px;
    margin: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.70);
}

#WOWLABFUNDO {
    position: relative;
    background: black url('imagens/WOWLAB.jpg') center center no-repeat;
    background-size: cover;
}

#WOWLABTITULO > h2 {
    position: absolute;
    background-color: rgba(31, 31, 31, 0.80);
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font: normal 500 2em var(--TituloPrincipal);
    line-height: 250px;
}

#destaquelabtitulo {
    color: #116FFF;
}

#WOWLABDESCRICAO {
    position: absolute;
    background-color: transparent;
    color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#WOWLABDESCRICAO > h3 {
    margin: 30px 0px 10px 0px;
    font: normal 800 1.5em var(--TituloPrincipal);
}

#WOWLABDESCRICAO p {
    font: normal 800 .7em var(--TituloPrincipal);
    line-height: 20px;
    padding: 10px 20px 0px 20px;
    text-align: center;
}

#WOWLABDESCRICAO a {
    display: block;
    margin-top: 20px;
    font: normal 800 .8em var(--TituloPrincipal);
    text-transform: uppercase;
    color: transparent;
    background-color: transparent;
}

#WOWLABTITULO:hover > #WOWLABDESCRICAO {
    background-color: #116FFF;
    color: black;
    transition-duration: 0.3s;
}

#WOWLABTITULO:hover > #WOWLABDESCRICAO a {
    color: black;
    transition-duration: 0.3s;
}

#subtitulo-principal {
    text-align: center;
}

.descricao-botao {
    text-align: center;
}

#GAMEDEVLABFUNDO {
    position: relative;
    background: #116FFF url('imagens/GAMEDEVLAB.jpg') center center no-repeat;
    background-size: cover;
}


#GAMEDEVLABTITULO {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.80);
    color: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#GAMEDEVLABTITULO > h2 {
    font: normal 500 2em var(--TituloPrincipal);
    text-align: center;
    line-height: 250px;
    text-transform: uppercase;
}

.destaquegame {
    color: #116FFF;
}

#GAMEDEVLABDESCRICAO {
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#GAMEDEVLABDESCRICAO > h3 {
    font: normal 800 1.5em var(--TituloPrincipal);
    color: transparent;
    margin: 30px 0px 10px 0px;
}

#GAMEDEVLABDESCRICAO p {
    font: normal 600 .7em var(--TituloPrincipal);
    color: transparent;
    padding: 10px;
    line-height: 20px;
    text-align: center;
}

#GAMEDEVLABDESCRICAO a {
    display: block;
    margin-top: 10px;
    color: transparent;
    font: normal 700 .8em var(--TituloPrincipal);
    text-transform: uppercase;
}

#GAMEDEVLABDESCRICAO:hover {
    background-color: #1170ff;
    transition-duration: 0.3s;
}

#GAMEDEVLABDESCRICAO:hover > h3 {
    color: black;
    transition-duration: 0.3s;
}

#GAMEDEVLABDESCRICAO:hover > p {
    color: black;
    transition-duration: 0.3s;
}

#GAMEDEVLABDESCRICAO:hover > a {
    color: black;
    transition-duration: 0.3s;
}

#INNOVATIONLABFUNDO {
    position: relative;
    background: #116FFF url('imagens/INNOVATIONLAB.jpg') center center no-repeat;
    background-size: cover;
}

#INNOVATIONLABTITULO > h2 {
    position: absolute;
    font: normal 500 1.8em var(--TituloPrincipal);
    background-color: rgba(0, 0, 0, 0.80);
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 250px;
}

#destaqueinnovation {
    color: #116FFF;
}

#INNOVATIONLABDESCRICAO {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

#INNOVATIONLABDESCRICAO > h3 {
    font: normal 600 1.6em var(--TituloPrincipal);
    text-transform: uppercase;
    margin: 30px 0px 10px 0px;
    color: transparent;
}

#INNOVATIONLABDESCRICAO p {
    font: normal 600 .7em var(--TituloPrincipal);
    line-height: 20px;
    text-align: center;
    padding: 10px;
    color: transparent;
}

#INNOVATIONLABDESCRICAO a {
    display: block;
    font: normal 700 .8em var(--TituloPrincipal);
    color: transparent;
    margin-top: 10px;
    text-transform: uppercase;
}

#INNOVATIONLABTITULO:hover > #INNOVATIONLABDESCRICAO {
    background-color: #116FFF;
    transition-duration: 0.5s;
}

#INNOVATIONLABDESCRICAO:hover > h3 {
    color: black;
    transition-duration: 0.5s;
}

#INNOVATIONLABDESCRICAO:hover > p {
    color: black;
    transition-duration: 0.5s;
}

#INNOVATIONLABDESCRICAO:hover > a {
    color: black;
    transition-duration: 0.5s;
}

#MAKERLABFUNDO {
    position: relative;
    background: #116FFF url('imagens/MAKERLAB.jpg') center center no-repeat;
    background-size: cover;
}

#MAKERLABTITULO > h2 {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.80);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font: normal 500 2em var(--TituloPrincipal);
    text-transform: uppercase;
    line-height: 250px;
}

#destaquemakerlab {
    color: #116FFF;
}

#MAKERLABDESCRICAO {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: transparent;
}

#MAKERLABDESCRICAO h3 {
    font: normal 800 1.7em var(--TituloPrincipal);
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 20px;
}

#MAKERLABDESCRICAO p {
    font: normal 700 .7em var(--TituloPrincipal);
    padding: 0px 20px;
    text-align: center;
    line-height: 20px;
}

#MAKERLABDESCRICAO a {
    display: block;
    font: normal 700 .8em var(--TituloPrincipal);
    text-transform: uppercase;
    margin-top: 20px;
    color: transparent;
}

#MAKERLABDESCRICAO:hover {
    background-color: #116FFF;
    color: black;
    transition-duration: 0.5s;
}

#MAKERLABDESCRICAO:hover a {
    color: black;
    transition-duration: 0.5s;
}

#DEVLABFUNDO {
    position: relative;
    background: #116FFF url('imagens/DEVLAB.jpg') center center no-repeat;
    background-size: cover;
}

#DEVLABTITULO {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.80);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#DEVLABTITULO > h2 {
    text-align: center;
    font: normal 500 2em var(--TituloPrincipal);
    text-transform: uppercase;
    line-height: 250px;
}

#destaquedevlab {
    color: #116FFF;
}

#DEVLABDESCRICAO {
    position: absolute;
    background-color: transparent;
    color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#DEVLABDESCRICAO h3 {
    font: normal 600 1.7em var(--TituloPrincipal);
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 20px;
}

#DEVLABDESCRICAO p {
    font: normal 700 .7em var(--TituloPrincipal);
    padding: 0px 20px;
    line-height: 20px;
    text-align: center;
}

#DEVLABDESCRICAO a {
    display: block;
    font: normal 700 .8em var(--TituloPrincipal);
    text-transform: uppercase;
    color: transparent;
    margin-top: 20px;
}

#DEVLABDESCRICAO:hover {
    background-color: #116FFF;
    color: black;
    transition-duration: 0.5s;
}

#DEVLABDESCRICAO:hover a {
    color: black;
    transition-duration: 0.5s;
}

#DESIGNLABFUNDO {
    position: relative;
    background: #1170FF url('imagens/DESIGNLAB.png') center center no-repeat;
    background-size: cover;
}

#DESIGNLABTITULO {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.80);
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#DESIGNLABTITULO > h2 {
    font: normal 500 2em var(--TituloPrincipal);
    text-transform: uppercase;
    text-align: center;
    line-height: 250px;
}

#destaquedesignlab {
    color: #1170FF;
}

#DESIGNLABDESCRICAO {
    color: transparent;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#DESIGNLABDESCRICAO h3 {
    font: normal 700 1.7em var(--TituloPrincipal);
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 20px;
}

#DESIGNLABDESCRICAO p {
    font: normal 700 .7em var(--TituloPrincipal);
    padding: 0px 20px;
    line-height: 20px;
    text-align: center;
}

#DESIGNLABDESCRICAO a {
    display: block;
    font: normal 700 .8em var(--TituloPrincipal);
    text-transform: uppercase;
    color: transparent;
    margin-top: 20px;
}

#DESIGNLABDESCRICAO:hover {
    background-color: #116FFF;
    color: black;
    transition-duration: 0.5s;
}

#DESIGNLABDESCRICAO:hover a {
    color: black;
    transition-duration: 0.5s;
}

#bolsas {
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

#bolsas > h2 {
    font: normal 700 2.5em var(--TituloPrincipal);
    text-transform: uppercase;
    text-align: justify;
    padding: 20px;
    color: white;
}

#bolsas hr {
    position: absolute;
    border: 2px solid #1170FF;
    margin-top: 20px;
    top: 10;
    left: 2.5%;
}

#opcoesdebolsas {
    margin-top: 100px;
}

#opcoesdebolsas > div {
    display: inline-block;
    border: 1px solid #7397AD;
    width: 13vw;
    height: 250px;
    margin: 5px;
    padding:  0px 10px;
}

#FIESFUNDO {
    position: relative;
}

#FIESFUNDO > h2 {
    position: absolute;
    font: normal 100 1.8em var(--TituloPrincipal);
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 250px;
}

#FIESDESCRICAO {
    position: absolute;
    color: transparent;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#FIESDESCRICAO h3, p, a {
    text-align: center;
}

#FIESDESCRICAO h3 {
    font: normal 200 2em var(--TituloPrincipal);
    margin-top: 70px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#FIESDESCRICAO p {
    font: normal 300 .9em var(--TituloPrincipal);
}

#FIESDESCRICAO a {
    display: block;
    font: normal 300 1em var(--TituloPrincipal);
    text-transform: uppercase;
    color: transparent;
    margin-top: 20px;
}

#opcoesdebolsas > div:hover {
    border: 1px solid #116FFF;
    transition-duration: 0.3s;
}

#FIESDESCRICAO:hover {
    color: black;
    background-color: #116FFF;
    transition-duration: 0.3s;
}

#FIESDESCRICAO:hover a {
    color: black;
    transition-duration: 0.3s;
}

#PROUNIFUNDO {
    position: relative;
}

#PROUNIFUNDO > h2 {
    position: absolute;
    font: normal 500 1.8em var(--TituloPrincipal);
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 250px;
}

#PROUNIDESCRICAO {
    position: absolute;
    background-color: transparent;
    color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#PROUNIDESCRICAO h3 {
    font: normal 500 2em var(--TituloPrincipal);
    text-transform: uppercase;
    margin-top: 70px;
    margin-bottom: 10px;
}

#PROUNIDESCRICAO p {
    font: normal 500 .9em var(--TituloPrincipal);
    padding: 10px;
}

#PROUNIDESCRICAO a {
    display: block;
    font: normal 500 1em var(--TituloPrincipal);
    text-transform: uppercase;
    color: transparent;
    margin-top: 10px;
}

#PROUNIDESCRICAO:hover {
    background-color: #116FFF;
    color: black;
    transition-duration: 0.5s;
}

#PROUNIDESCRICAO:hover a {
    color: black;
    transition-duration: 0.5s;
}

#PLANOESTENDIDOFUNDO {
    position: relative;
}

#PLANOESTENDIDOFUNDO > h2 {
    position: absolute;
    font: normal 500 1.6em var(--TituloPrincipal);
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    padding: 94px 0px;
}

#PLANOESTENDIDODESCRICAO {
    position: absolute;
    background-color: transparent;
    color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#PLANOESTENDIDODESCRICAO h3 {
    font: normal 700 1.7em var(--TituloPrincipal);
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: 30px;
}

#PLANOESTENDIDODESCRICAO p {
    font: normal 500 .9em var(--TituloPrincipal);
    padding: 10px;
    text-align: center;
}

#PLANOESTENDIDODESCRICAO a {
    display: block;
    font: normal 500 1em var(--TituloPrincipal);
    text-transform: uppercase;
    color: transparent;
    margin-top: 10px;
}

#PLANOESTENDIDODESCRICAO:hover {
    background-color: #116FFF;
    color: black;
    transition-duration: 0.5s;
}

#PLANOESTENDIDODESCRICAO:hover a {
    color: black;
    transition-duration: 0.5s;
}

#BOLSASDEESTUDOFUNDO {
    position: relative;
}

#BOLSASDEESTUDOFUNDO > h2 {
    position: absolute;
    font: normal 500 1.6em var(--TituloPrincipal);
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    padding: 94px 0px;
}

#BOLSASDEESTUDODESCRICAO {
    position: absolute;
    background-color: transparent;
    color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#BOLSASDEESTUDODESCRICAO h3 {
    font: normal 700 1.6em var(--TituloPrincipal);
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 20px;
    line-height: 30px;
}

#BOLSASDEESTUDODESCRICAO p {
    font: normal 500 .9em var(--TituloPrincipal);
    padding: 10px;
}

#BOLSASDEESTUDODESCRICAO a {
    display: block;
    font: normal 500 1em var(--TituloPrincipal);
    text-transform: uppercase;
    margin-top: 10px;
    color: transparent;
}

#BOLSASDEESTUDODESCRICAO:hover {
    background-color: #116FFF;
    color: black;
    transition-duration: 0.5s;
}

#BOLSASDEESTUDODESCRICAO:hover a {
    color: black;
    transition-duration: 0.5s;
}

#PARTNERS {
    position: relative;
    margin-top: 50px;
    padding: 20px;
    background-color: transparent;
}

#PARTNERS > h2 {
    font: normal 900 3em var(--TituloPrincipal);
    text-transform: uppercase;
    color: white;
}

#PARTNERS hr {
    position: absolute;
    border: 4px solid #116FFF;
    padding: 0px 20px;
    top: 12%;
    left: 46%;
    margin-top: 100px;
    margin: auto;
}

#PARTNERS p {
    margin-top: 100px;
    font: normal 800 1em var(--TituloPrincipal);
    line-height: 25px;
    color: white;
}

table {
    margin: auto;
    margin-top: 50px;
    width: 100%;
    border-collapse: collapse;
}

table td {
    height: 120px;
    width: 100px;
    padding: 0px 20px;
    border: 1px solid rgba(255, 255, 255, 0.151);
}

#amazon {
    background: transparent url('imagens/icones/amazon.png') center center no-repeat;
    background-size: 90%;
}

#it_academy {
    background: transparent url('imagens/icones/microsoft-it-academy.png') center center no-repeat;
    background-size: 90%;
}

#sap {
    background: transparent url('imagens/icones/sap.png') center center no-repeat;
    background-size: 50%;
}

#ibm {
    background: transparent url('imagens/icones/ibm.png') center center no-repeat;
    background-size: 50%;
}

#salesforce {
    background: transparent url('imagens/icones/salesforce.png') center center no-repeat;
    background-size: 50%;
}

#mapfre {
    background: transparent url('imagens/icones/mapfre.png') center center no-repeat;
    background-size: 70%;
}

#cloudera {
    background: transparent url('imagens/icones/cloudera.png') center center no-repeat;
    background-size: 60%;
}

#alteryx {
    background: transparent url('imagens/icones/alteryx.png') center center no-repeat;
    background-size: 50%;
}

#huawei {
    background: transparent url('imagens/icones/huawei.png') center center no-repeat;
    background-size: 70%;
}

#cisco {
    background: transparent url('imagens/icones/cisco.png') center center no-repeat;
    background-size: 40%;
}

#idc {
    background: transparent url('imagens/icones/idc.png') center center no-repeat;
    background-size: 50%;
}

#midia {
    background: transparent url('imagens/icones/it-midia.png') center center no-repeat;
    background-size: 70%;
}

#enterasys {
    background: transparent url('imagens/icones/eterasys.png') center center no-repeat;
    background-size: 70%;
}

#oracle {
    background: transparent url('imagens/icones/oracle.png') center center no-repeat;
    background-size: 70%;
}

#dreamspark {
    background: transparent url('imagens/icones/microsoft-dreamspark.png') center center no-repeat;
    background-size: 60%;
}

#strategy {
    background: transparent url('imagens/icones/microstrategy.png') center center no-repeat;
    background-size: 70%;
}

#segundalinha {
    margin-top: 0px;
    border-collapse: collapse;
}

#terceiralinha {
    margin-top: 0px;
    border-collapse: collapse;
}

#quartalinha {
    margin-top: 0px;
    border-collapse: collapse;
}

#quintalinha {
    margin-top: 0px;
}

#alliance {
    background: transparent url('imagens/icones/academic-alliance.png') center center no-repeat;
    background-size: 60%;
}

#comptia {
    background: transparent url('imagens/icones/comptia.png') center center no-repeat;
    background-size: 70%;
}

#cuoa {
    background: transparent url('imagens/icones/cuoa.png') center center no-repeat;
    background-size: 40%;
}

#rational {
    background: transparent url('imagens/icones/rational-software.png') center center no-repeat;
    background-size: 60%;
}

#fortinet {
    background: transparent url('imagens/icones/fortinet.png') center center no-repeat;
    background-size: 60%;
}

#kaspersky {
    background: transparent url('imagens/icones/novo-kaspersky.png') center center no-repeat;
    background-size: 60%;
}

#laverne {
    background: transparent url('imagens/icones/la-verne.png') center center no-repeat;
    background-size: 70%;
}

#cliever {
    background: transparent url('imagens/icones/cliever.png') center center no-repeat;
    background-size: 60%;
}

#pmi { 
    background: transparent url('imagens/icones/pmp.png') center center no-repeat;
    background-size: 60%;
}

#live {
    background: transparent url('imagens/icones/live.png') center center no-repeat;
    background-size: 70%;
}

#blackstorm {
    background: transparent url('imagens/icones/blackstorm.png') center center no-repeat;
    background-size: 60%;
}

#red-hat {
    background: transparent url('imagens/icones/red-hat-academy.png') center center no-repeat;
    background-size: 45%;
}

table td {
    border: 1px solid transparent;
}

footer {
    background-color: transparent;
    padding:  10px 0px 50px 0px;
}

#rodape {
    position: relative;
    width: 75vw;
    margin: auto;
    height: 500px;
    border: 1px solid #CDE7F5;
}

#rodape div {
    display: inline-block;
    width: 320px;
    color: white;
}

#menus-rodape div {
    width: 350px;
}

#playtec-rodape {
    position: absolute;
    height: 260px;
    left: 1%;
}

#playtec-descricao {
    position: absolute;
}

#playtec-descricao h5 {
    font: normal 800 1.5em var(--TituloPrincipal);
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 10px;
    color: #116FFF;
}

#playtec-descricao ul {
    list-style-position: inside;
    font: normal 300 .8em var(--TituloPrincipal);
    line-height: 25px;
    margin-left: 10px;
    margin-top: 20px;
}

#menus-rodape {
    margin-left: 70px;
    margin-top: 5px;
}

#hubplaytec-rodape {
    position: absolute;
    height: 300px;
    left: 34%;
}

#hubplaytec-descricao {
    position: absolute;
}

#hubplaytec-descricao h5 {
    font: normal 700 1.5em var(--TituloPrincipal);
    text-transform: uppercase;
    color: #116FFF;
    margin-top: 10px;
    margin-left: 10px;
}

#hubplaytec-descricao ul {
    list-style-position: inside;
    font: normal 500 .8em var(--TituloPrincipal);
    margin-left: 10px;
    margin-top: 20px;
    line-height: 25px;
}

#links-playtec {
    display: block;
    height: 50px;
}

#unidadesplaytec-rodape {
    position: absolute;
    height: 210px;
    left: 67%;
}

#unidadesplaytec-descricao h5 {
    font: normal 800 1.5em var(--TituloPrincipal);
    color: #116FFF;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 10px;
}

#unidadesplaytec-descricao ul {
    list-style-position: inside;
    list-style-type: none;
    font: normal 300 .8em var(--TituloPrincipal);
    line-height: 25px;
    margin-top: 20px;
    margin-left: 10px;
}

#comissaoplaytec-rodape {
    position: absolute;
    top: 55%;
    left: 1%;
    height: 210px;
}

#comissaoplaytec-descricao h5 {
    color: #116FFF;
    font: normal 700 1.5em var(--TituloPrincipal);
    text-transform: uppercase;
    padding: 10px;
}

#comissaoplaytec-descricao ul {
    font: normal 500 .8em var(--TituloPrincipal);
    list-style-position: inside;
    list-style-type: none;
    margin-left: 10px;
    margin-top: 5px;
    line-height: 25px;
}

#linksplaytec-rodape {
    position: absolute;
    left: 34%;
    top: 64%;
    height: 165px;
}

#linksplaytec-descricao h5 {
    color: #116FFF;
    font: normal 700 1.5em var(--TituloPrincipal);
    text-transform: uppercase;
    padding: 10px;
}

#linksplaytec-descricao ul {
    list-style-position: inside;
    list-style-type: none;
    margin-left: 10px;
    margin-top: 10px;
    font: normal 500 .8em var(--TituloPrincipal);
    line-height: 25px;
}

#linksuteisplaytec-rodape {
    position: absolute;
    left: 67%;
    top: 46%;
    height: 255px;
}

#linksuteisplaytec-descricao h5 {
    color: #116FFF;
    font: normal 700 1.5em var(--TituloPrincipal);
    text-transform: uppercase;
    padding: 10px;
}

#linksuteisplaytec-descricao ul {
    list-style-position: inside;
    list-style-type: none;
    margin-left: 10px;
    margin-top: 20px;
    font: normal 500 .8em var(--TituloPrincipal);
    line-height: 25px;
}

#rodape div {
    margin-left: 30px;
}

#rede-social {
    color: white;
    width: 75vw;
    margin: auto;
    margin-top: 30px;
    padding: 20px 0px;
}

#autordosite {
    font: normal 500 1em var(--TituloPrincipal);
    margin-bottom: 30px;
}

#siga-nos {
    font: normal 700 1.3em var(--TituloPrincipal);
    text-transform: uppercase;
    margin-bottom: 20px;
}

#linkedin {
    font: normal 500 1em var(--TituloPrincipal);
    text-transform: uppercase;
    background-color: #0A66C2;
    padding: 5px 10px;
}

#github {
    font: normal 500 1em var(--TituloPrincipal);
    text-transform: uppercase;
    background-color: white;
    color: black;
    padding: 5px 10px;
}

#linkedin:hover {
    background-color: #0A66C2;
    outline: 5px solid #0A66C2;
    transition-duration: 0.2s;
}

#github:hover {
    outline: 5px solid white;
    transition-duration: 0.2s;
}

#rede-social a {
    color: white;
    text-decoration: none;
}

#linkedin:active {
    outline: 0px solid transparent;
    color: #0A66C2;
}

#github:active {
    outline: 0px solid transparent;
    transition-duration: 0.3s;
}